@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

:root {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
}
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
.upload-btn {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
}
.multi-select-btn {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
}
.manage-btns {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.remove-btn {
    cursor: pointer;
    color: red;
}

tr:nth-child(even) {
    background-color: #f7f7f7; /* Light gray */
}

tr:nth-child(odd) {
    background-color: #ffffff; /* White */
}

tr.selected {
    background-color: #FFFEb6;
}

td input[type="checkbox"] {
    margin: 0 auto;
}

tr:hover {
    background-color: #e2e2e2;
}
