@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    background-color: #3b3b3b;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    color: white;
}

h1{
    font-size: 22px;
}

a {
    text-decoration: none;
    color: skyblue; 

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 10px 0;
}

li a {
    display: block;
}

button{
    width: 10%;
    height: 20%;
    font-family: inherit;
    font-size: 13px;
    border-radius: 5%;
    color: white;
    background-color: skyblue;
}
